@import '../node_modules/bootstrap/scss/bootstrap';

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.table {
  padding: 0;
  border: 0;
  margin: 0;
  table-layout: fixed;
}

a{
  color: white;
}

a:hover{
  color: lightskyblue;
}

#filter {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.flights_table {
  margin-top: 20px;
}

.search-bar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px black solid;
  transition-duration: 0.2s;
}
//ahova irni akarsz arra vonatkozik
.textbox {
  width: 0px;
  border: none;
  line-height: 40px;
  font-size: 14px;
  height:45px;
  background-color: transparent;
  outline: none;
  height: 100%;
  float: left;

  transition-duration: 0.05s;
}
//amit alapbol latsz
.search-btn {
  background-color: transparent;
  padding: 0px 0px 0px 0px;
  margin: 0;
  height: 45px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  text-decoration: none;
  height: 100%;
  transition-duration: 0.2s;
}

.search-btn p {
  margin: 10px;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 800;
}

.search-bar:hover > .textbox {
  padding: 0px 10px 0px 10px;
  width: 100%;
  transition-duration: 0.2s;
}

.search-bar:hover > .search-btn {
  border-left: 5px black solid;
  transition-duration: 0.2s;
}

.search-btn:hover {
  background-color: rgb(8, 68, 208);
  transition-duration: 0.2s;
}
.search-btn:hover > p {
  color: white;
  transition-duration: 0.2s;
}