@import '../node_modules/bootstrap/scss/bootstrap';

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.table {
  padding: 0;
  border: 0;
  margin: 0;
  table-layout: fixed;
}

a{
  color: white;
}

a:hover{
  color: lightskyblue;
}

#filter {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.flights_table {
  margin-top: 20px;
}